# --- Python cache ---
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg
*.egg-info/
dist/
build/

# --- Jupyter ---
.ipynb_checkpoints/

# --- Virtual envs ---
venv/
.env/
*.env
.envrc
.venv/
conda_env/

# --- OS stuff ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log

# --- ML model artifacts ---
# Large trained weights / checkpoints


# --- Datasets ---
dataset/




# --- IDE / Editor files ---
.vscode/
.vscodium/
.idea/
*.swp
